.analitic__state {
  font-family: "Oswald", sans-serif;
  font-size: 24px;
  line-height: 24px;
  color: #000000;
  margin-top: 15px;

  @media (min-width: $desktop) {
    font-size: 30px;
    line-height: 37px;
  }
}

.analitic__statistics {
  font-size: 12px;
  line-height: 12px;
  color: #444444;
  margin: 0;
  margin-top: 8px;
  text-align: center;

  @media (min-width: $desktop) {
    font-size: 14px;
    line-height: 14px;
  }
}

.analitic {
  margin-top: 20px;
  display: flex;
  justify-content: space-around;

  @media (min-width: $desktop) {
    margin-left: 110px;
    justify-content: left;
    gap: 42px;
    margin-top: 69px;
  }
}


.analitic__item {
  display: flex;
  flex-direction: column;
  align-items: center;
  min-width: 124px;
  border-top: 1px solid #cdcdcd;
  border-right: 1px solid #cdcdcd;
  border-left: 1px solid #cdcdcd;
  border-radius: 4px;
}
