.copyright {
  display: flex;
  justify-content: space-between;
  align-items: center;
  min-width: 168px;
  margin-top: 40px;

  @media (min-width: $tablet) {
    margin: 0;
  }
}


.copyright__text-logo {
  color: #444444;
}


.copyright__img-logo {
  width: 27px;
  height: 34px;
  background-color: #666666;
  mask-image: url("../../icons/stack.svg#logo-html");
  mask-size: 27px 34px;
  mask-repeat: no-repeat;
}
