.functional {
  background-image:
    image-set(
      url("../../images/background/backcground-cat-happy-mobile@1x.png"),
      url("../../images/background/backcground-cat-happy-mobile@2x.png"),
      url("../../images/background/backcground-cat-happy-mobile@1x.webp"),
      url("../../images/background/backcground-cat-happy-mobile@2x.webp"),
    );

  width: 100%;
  min-height: 302px;
  background-size: 100%;
  background-repeat: no-repeat;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #ffffff;

  @media (min-width: $tablet) {
    background-image: none;
  }

  @media (min-width: $desktop) {
    min-height: 580px;
  }
}

.functional__wrapper {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  @media (min-width: $tablet) {
    padding: 0 30px;
    align-items: baseline;
  }

  @media (min-width: $desktop) {
    position: relative;
  }
}


.functional__wrapper::before {
  @media (min-width: $desktop) {
    content: "";
    position: absolute;
    background-image: url("../../images/background/background-cat-happy-desktop@1x.png");
    width: 727px;
    height: 756px;
    background-repeat: no-repeat;

    right: 0%;
    z-index: 1;
    top: 50%;
    transform: translate(1%, -35%);
  }
}


.functional__wrapper-inner {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding: 0 20px;

  @media (min-width: $tablet) {
    position: relative;
  }
}


.functional__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
  margin: 0;
  margin-top: 27px;
  padding: 0 14px;

  @media (min-width: $tablet) {
    color: #000000;
    line-height: 60px;
    font-size: 60px;
    margin-top: 53px;
    margin-left: 90px;
    width: 450px;
    text-align: left;
    padding: 0;
  }

  @media (min-width: $desktop) {
    margin-top: 100px;
    margin-left: 160px;
  }
}

.functional__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
  margin: 0;
  margin-top: 25px;

  @media (min-width: $tablet) {
    color: #000000;
    font-size: 20px;
    line-height: 20px;
    margin-top: 40px;
    position: relative;
    width: 283px;
  }
}

.functional__image {
  display: block;
  margin-top: 29px;

  @media (min-width: $tablet) {
    margin-top: 21px;
  }

  @media (min-width: $desktop) {
    z-index: 2;
    position: absolute;
    top: -257px;
    right: 607px;
    transform: translate(50%, -5%);
  }
}

.functional__button {
  margin-top: 3px;

  @media (min-width: $tablet) {
    position: absolute;
    top: 47px;
    left: 120px;
    height: 54px;
    width: 244px;
    font-size: 20px;
    line-height: 26px;
  }

  @media (min-width: $desktop) {
    left: 190px;
    top: 50px;
  }
}
