.functional {
  background-image: url("../../images/background/backcground-cat-happy-mobile@1x.png");
  background-repeat: no-repeat;
  font-family: "Oswald", sans-serif;
  text-align: center;
  color: #ffffff;
  // background-color: #2fc929;
}

.functional__title {
  font-size: 36px;
  line-height: 36px;
  font-weight: 400;
}

.functional__description {
  font-size: 14px;
  line-height: 14px;
  text-transform: uppercase;
}
