.main-header {
  @media (min-width: $tablet) {
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
    padding: 17px 34px 0 30px;
  }

  @media (min-width: $desktop) {
    min-width: 1220px;
    padding: 49px 110px 0;
    position: relative;
    z-index: 2;
  }
}

.main-header__items {
  display: flex;
  flex-wrap: wrap;
  justify-content: space-between;
  align-items: center;
  margin: 13px 20px 11px;

  @media (min-width: $tablet) {
    margin: 0;
    gap: 13px;
    min-width: 174px;
    align-items: center;
  }

  @media (min-width: $desktop) {
    width: 202px;
    align-items: center;

    &:hover {
      opacity: 80%;
    }

    &:active {
      opacity: 60%;
    }
  }
}

.main-header__button {
  mask-image: url("../../icons/stack.svg#icon-menu");
  mask-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-color: #000000;
  cursor: pointer;
  margin-top: -3px;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-header__button--clouse {
  mask-image: url("../../icons/stack.svg#icon-clouse");
  mask-repeat: no-repeat;
  width: 24px;
  height: 24px;
  background-color: #000000;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: none;
  }
}

.main-header__logo-text {
  margin-left: -10px;
}
