.map-location iframe {
  display: block;
  border: none;
  width: 100%;
  height: 362px;
  background-image:
    image-set (
      url("../../images/map/map-mobile@1x.png"),
      url("../../images/map/map-mobile@2x.webp"),
      url("../../images/map/map-mobile@2x.png"),
      url("../../images/map/map-mobile@1x.webp"),
    );
  background-repeat: no-repeat;


  @media (min-width: $tablet) {
    height: 400px;
    background-image:
      image-set(
        url("../../images/map/map-tablet@1x.png"),
        url("../../images/map/map-tablet@2x.png"),
        url("../../images/map/map-tablet@1x.webp"),
        url("../../images/map/map-tablet@2x.webp"),
      );
    background-repeat: no-repeat;
  }

  @media (min-width: $desktop) {
    background-image:
      image-set(
        url("../../images/map/map-desktop@1x.png"),
        url("../../images/map/map-desktop@2x.png"),
        url("../../images/map/map-desktop@1x.webp"),
        url("../../images/map/map-desktop@2x.webp"),
      );
    background-repeat: no-repeat;
  }
}
