.nav {
  position: relative;
}


.nav__list {
  font-family: "Oswald", sans-serif;
  font-size: 20px;
  line-height: 20px;
  text-align: center;
  text-transform: uppercase;
  display: flex;
  flex-direction: column;
  margin: 0;
  padding: 0;
  position: absolute;
  background-color: #ffffff;
  width: 100%;


  @media (min-width: $tablet) {
    gap: 33px;
    font-size: 18px;
    line-height: 24px;
    width: 436px;
    position: relative;
    flex-flow: row wrap;
  }

  @media (min-width: $desktop) {
    font-size: 20px;
    line-height: 29px;
    min-width: 478px;
    background-color: transparent;
    row-gap: 0;
  }
}


.nav__link {
  color: #000000;

  @media (min-width: $tablet) {
    padding: 6px 0;
  }

  @media (min-width: $desktop) {
    color: #000000;
    padding-bottom: 8px;
  }

  &:hover {
    opacity: 60%;
  }

  &:active {
    opacity: 30%;
  }
}

.nav__item {
  padding: 21px 0 24px;
  border-bottom: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    border: none;
  }

  @media (min-width: $desktop) {
  padding: 23px 0;
  }
}


.nav__item:first-child {
  border-top: 1px solid #e6e6e6;

  @media (min-width: $tablet) {
    border: none;
  }
}


.nav--cloused {
  display: none;
  cursor: pointer;

  @media (min-width: $tablet) {
    display: block;
  }
}


.nav__link--current {
  @media (min-width: $tablet) {
    border-bottom: 2px solid #68b738;
    padding-bottom: 7px;
  }

  @media (min-width: $desktop) {
    border-bottom: 2px solid #ffffff;
  }
}

.nav__link--index {
  @media (min-width: $desktop) {
    color: #ffffff;
  }
}

.nav__link--active {
  border-bottom: 2px solid #68b738;
}
