.present {
  width: 280px;
  height: 290px;
  background-image: url("../../images/background/background-cat-space-mobile@1x.png");
  background-repeat: no-repeat;
  background-color: #227409;
}

.present__description {
  font-size: 16px;
  line-height: 20px;
  color: #ffffff;
  text-align: center;
}
