.primer {
  background-color: #eaeaea;
  padding: 25px 20px 37px;


  @media (min-width: $tablet) {
    padding: 28px 30px 40px;
    background: linear-gradient(to top, #eaeaea 461px, #ffffff 0);
    position: relative;
    height: 1065px;
  }

  @media (min-width: $desktop) {
    display: flex;
    flex-wrap: wrap;
    padding: 0;
    background: linear-gradient(to bottom, #ffffff 24%, #eaeaea 0%);
    height: 602px;
  }
}

.primer::before {
  @media (min-width: $tablet) {
    content: "";
    width: 100%;
    height: 1px;
    background-color: rgba(230, 230, 230, 1);
    position: absolute;
    top: -17px;
    left: 0;
  }

  @media (min-width: $desktop) {
    display: none;
  }
}


.primer__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #000000;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 60px;
    line-height: 60px;
  }

  @media (min-width: $desktop) {
    margin-left: 110px;
    margin-top: 6px;
  }
}

.primer__wrapper {
  @media (min-width: $tablet) {
    position: relative;
  }
}

.primer__description {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
  margin-top: 40px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    margin-top: 60px;
  }

  @media (min-width: $desktop) {
    margin-left: 110px;
    width: 433px;
    font-size: 16px;
    line-height: 24px;
    margin-top: 146px;
  }
}

.primer__expenses-wrapper {
  display: flex;
  flex-wrap: wrap;
  margin-top: 33px;
  justify-content: center;
  margin-bottom: 20px;
  gap: 5px;

  @media (min-width: $tablet) {
    width: 174px;
    flex-direction: column;
    gap: 9px;
    position: absolute;
    right: 1px;
    bottom: -10px;
  }

  @media (min-width: $desktop) {
    flex-direction: row;
    width: 327px;
    justify-content: space-between;
    position: absolute;
    bottom: 53px;
    right: 272px;
  }
}

.primer__expenses {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin: 0;
  text-transform: uppercase;


  @media (min-width: $tablet) {
    font-size: 20px;
    margin: 0;
    text-align: right;
  }

  @media (min-width: $desktop) {
    margin-top: 55px;
  }
}
