.primer {
  background-color: #eaeaea;
  padding: 25px 20px 40px;

  @media (min-width: $desktop) {
    display: flex;
    padding: 0;
  }
}

.primer__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #000000;
  margin: 0;

  @media (min-width: $desktop) {
    margin-left: 110px;
    font-size: 60px;
    line-height: 60px;
  }
}

.primer__description {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
  margin-top: 40px;

  @media (min-width: $desktop) {
    margin-left: 110px;
    max-width: 436px;
    font-size: 16px;
    line-height: 24px;
  }
}

.primer__expenses {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-top: 20px;

  @media (min-width: $desktop) {
    font-size: 20px;
    margin-top: 55px;
  }
}
