.primer {
  background-color: #eaeaea;
  padding: 25px 20px 40px;
}

.primer__title {
  font-family: "Oswald", sans-serif;
  font-size: 36px;
  font-weight: 400;
  line-height: 40px;
  text-align: left;
  color: #000000;
  margin: 0;
}

.primer__description {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #444444;
  margin: 0;
  margin-top: 40px;
}

.primer__expenses {
  font-family: "Oswald", sans-serif;
  font-size: 14px;
  line-height: 20px;
  text-align: center;
  color: #000000;
  margin: 0;
  margin-top: 20px;
}
