.program {
  margin-top: 20px;

  @media (min-width: $tablet) {
    margin-top: 0;
  }

  @media (min-width: $desktop) {
    margin-top: 73px;
  }
}

.program__list {
  margin: 0;
  padding: 0;
  display: flex;
  flex-direction: column;
  gap: 23px;

  @media (min-width: $tablet) {
    gap: 30px;
  }

  @media (min-width: $desktop) {
    flex-flow: row wrap;
    gap: 80px;
  }
}


.program__card-title {
  font-family: "Oswald", sans-serif;
  font-weight: 400;
  font-size: 24px;
  line-height: 37px;
  text-transform: uppercase;
  color: #000000;
  padding-left: 71px;
  margin: 0;

  @media (min-width: $tablet) {
    font-size: 36px;
    line-height: 36px;
    margin: 0;
    padding: 0;
    width: 400px;
  }

  @media (min-width: $desktop) {
    text-align: center;
    padding-left: 132px;
  }
}

.program__card-title--slim {
  @media (min-width: $desktop) {
    padding-left: 91px;
  }
}

.program__card-description {
  font-size: 14px;
  line-height: 18px;
  text-align: left;
  color: #222222;
  position: relative;
  margin: 0;
  margin-top: 29px;

  @media (min-width: $tablet) {
    font-size: 16px;
    line-height: 24px;
    margin: 0;
    margin-top: 24px;
    width: 340px;
  }

  @media (min-width: $desktop) {
    margin-top: 73px;
    margin-bottom: 23px;
    min-width: 457px;
  }
}

.program__card-link {
  font-family: "Oswald", sans-serif;
  font-size: 16px;
  font-weight: 400;
  line-height: 16px;
  display: block;
  color: #000000;
  text-transform: uppercase;
  margin-top: 43px;

  @media (min-width: $tablet) {
    font-size: 20px;
    line-height: 30px;
    margin-top: 53px;
  }

  @media (min-width: $desktop) {
    margin-top: 26px;
  }

  &:active {
    color: rgba(0, 0, 0, 0.2);
  }
}


.program__card {
  position: relative;
  background-color: #f2f2f2;
  padding: 30px 20px 18px;

  @media (min-width: $tablet) {
    padding: 77px 63px 53px 52px;
    min-height: 372px;
  }

  @media (min-width: $desktop) {
    width: 570px;
    padding: 77px 61px 41px 52px;
  }
}


.program__card--slim::before {
  content: "";
  position: absolute;
  width: 36px;
  height: 50px;
  background-color: transparent;
  top: 22px;
  left: 28px;
  background-image: url("../../icons/stack.svg#cat-slim");
  z-index: 1;

  @media (min-width: $tablet) {
    width: 140px;
    height: 194px;
    top: 82px;
    left: 475px;
  }

  @media (min-width: $desktop) {
    width: 70px;
    height: 97px;
    top: 41px;
    left: 65px;
  }
}

.program__card--pro::before {
  content: "";
  position: absolute;
  width: 67px;
  height: 28px;
  background-color: transparent;
  top: 35px;
  left: 11px;
  background-image: url("../../icons/stack.svg#cat-pro");
  z-index: 1;

  @media (min-width: $tablet) {
    width: 268px;
    height: 112px;
    top: 136px;
    left: 411px;
  }

  @media (min-width: $desktop) {
    width: 154px;
    height: 56px;
    top: 18%;
    left: 4%;
  }
}

.program__card::after {
  content: "";
  position: absolute;
  width: 50px;
  height: 50px;
  background-color: #68b738;
  border-radius: 50%;
  top: 24px;
  left: 20px;

  @media (min-width: $tablet) {
    width: 200px;
    height: 200px;
    top: 92px;
    left: 446px;
  }

  @media (min-width: $desktop) {
    width: 100px;
    height: 100px;
    top: 47px;
    left: 52px;
  }
}

.program__card-description::after {
  content: "";
  border: 1px solid #d9d9d9;
  position: absolute;
  width: 100%;
  left: 0;
  bottom: -24px;

  @media (min-width: $tablet) {
    border: none;
  }
}

.program__card-link::after {
  content: "";
  background-color: #000000;
  width: 40px;
  height: 10px;
  position: absolute;
  bottom: 23px;
  left: 114px;
  mask-image: url("../../icons/stack.svg#icon-arrow");
  mask-repeat: no-repeat;
  mask-size: 32px 10px;
  mask-position: 100%;

  @media (min-width: $tablet) {
    bottom: 66px;
    left: 174px;
  }

  @media (min-width: $desktop) {
    bottom: 67px;
  }
}

.program__card-link:active::after {
  background-color: rgba(0, 0, 0, 0.2);
}
